.Card {
    position: relative;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
    flex: 1 / 3;
}

.CardImage {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out; /* Add transition for smooth scaling */

}

.CardInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsla(0, 0%, 33%, 0.8);
    padding: 5px;
    font-size: 0.5rem;
    color: white;
    z-index: 3;
    transition: display 0.3s ease-in-out;
    border-radius: 0 0 10px 10px;
    display: none;
    box-sizing: border-box;
}

.Card:hover .CardInfo {
    display: initial;
}

.Card:hover .CardImage {
    scale: 1.2;
}